body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111827;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
}
